<div class="container">
<div class="card w-50 p-2">
   <p class="f-24"><b>Active</b></p> 
    <p><b>Upload File</b>(only .jpg,.jpeg,.png,.pdf,.doc,.docx format and max size is 2MB)</p>
    <div class=" m-4">
        <ngx-file-drop dropZoneLabel="Drop files here" (onFileDrop)="dropped($event)" 
    (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)">
        <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
            <span class="material-icons upload-icon">
                backup
            </span> <span class="ml-2">Drop files to attach, or</span>
          <button type="button" style="color:  #14c1e8; margin-left: 3px; background:none; border: none;" (click)="openFileSelector()">Browse Files</button>
        </ng-template>
    </ngx-file-drop>
        <!-- <span class="material-icons upload-icon">
            backup
        </span>
        <span class="ml-3">Drop files to attach, or<span style="color:  #14c1e8; margin-left: 3px;">Browse</span> </span> -->
    </div>
    <div *ngIf="errorMessage" class="alert alert-warning">
        <strong>Warning!</strong> Please upload correct file size and filetype
      </div>

    <div class="upload-box">
        <table class="table">
           
            <tbody class="upload-name-style">
                <tr *ngFor="let item of allOpenedFiles; let i=index">
                    <td><strong>{{ item.name }}</strong> <span *ngIf="hideClose" (click)="deleteFile(item,i)" class="material-icons close-icon">
                        close
                    </span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</div>